@import 'variables';
@import 'themes';
@import 'buttons';
@import 'modals';
@import 'game';
@import 'you';
// Структура SCSS файлів
// _variables.scss
// Глобальні CSS змінні.
// :root.
// Кольори.
// Розміри.
// Шрифти.
// Значення для тем.

// _themes.scss
// Світла і темна тема.
// Перевизначення CSS змінних.
// Стилі залежні від data-theme.

// _buttons.scss
// Усі кнопки проєкту.
// Hover, active, disabled.
// Кнопки дій і навігації.

// _modals.scss
// Модальні вікна.
// Overlay.
// Popups.
// Вікна повідомлень.

// _game.scss
// Ігрові елементи.
// Рулетка.
// Таблиці.
// Анімації.
// Логіка візуальних станів гри.